
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap/dist/css/bootstrap";

body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: left;
}

.border-right {
  border-right: solid 1px #ccc;
}

.info-cell {
  padding: 10px;
  height: 200px;
  margin-bottom: 10px;
}